.navbar{
    background: linear-gradient(to bottom, black, rgb(12, 11, 11)) !important;
}

.carousel-caption{
    position: absolute;
    top:20px;
    
}

.btn-outline-success{
    color: white;
    border:1px solid white;
}

.btn-outline-success:hover{
    background-color: rgb(252, 235, 0);
    color:black;
}

@media (max-width: 575.98px) { 
    p{
        font-size: 0.7rem !important;
    }
 }

 .coach{
     width: 200px;
     border-radius: 50%;
 }




 